/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: #666666;
    background-color: #e6e6e6;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*..............H E A D E R...............*/
.header {
    width: 100%;
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 100%;
    left: 0;
    z-index: 9;
    transition-delay: .5s;
    transition-duration: .5s;
    transition-property: transform;
    box-shadow: 1px 1px 6px 1px #00000059;

}
.header.fixed {
    transform: translateY(100%);
}
.site-logo a {
    line-height: 60px;
    font-size: 32px;
    letter-spacing: 1px;
    color: #0EB57D;
    text-decoration: none;
    font-family: 'Dosis', 'Open Sans', sans-serif ;
    font-weight: bold;
    margin-left: 50px;
}
.header-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    height: 100%;
    width: 100%;
}
.waves-effect{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #0EB57D;
    cursor: pointer;
}

.site-header {
    background: url("../img/bg1.png");
    background-size: cover;
    height: 400px;
}
.main-nav{
    width: 250px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 19;
    background-color: #fff;
    display: none;
    box-shadow: 1px 1px 6px 1px #00000059;
}
.btn-close{
    color: #ffffff;
    position: fixed;
    right: 50px;
    top: 10px;
}
.main-nav ul{
    margin-top: 60px;
    overflow: hidden;
}
.main-nav ul li{
    font-size: 24px;
    font-weight: bold;
    padding-left: 30px;
    color: #555555;
    cursor: pointer;
    line-height: 30px;
    margin-bottom: 25px;
    transition: .3s;

    border-left: 4px solid #0EB57D;
    transform: translateX(-4px);
}
.main-nav ul li:hover{
    color: #0EB57D;
    transform: translateX(0);
    text-decoration: underline;
}
.about-section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -250px;
}
.section-content{
    width: 70%;
    max-width: 1600px;
    background-color: #fff;
    z-index: 8;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 1px 1px 6px 1px #00000059;
}
.my-photo{
    width: 40%;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.portfolio-download{
    width: 230px;
    height: 230px;
    position: relative;
    border-radius: 50%;
    background: url("../img/P203380220.jpg") no-repeat center;
}
.portfolio-download i{
    position: absolute;
    top: 50px;
    width: 45px;
    height: 45px;
    color: white;
    display: flex;
    font-size: 15px;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
    background-color: #0EB57D;
    justify-content: center;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.10), 0 1px 6px rgba(0, 0, 0, 0.20);
}
.portfolio-download i:hover {
    background-color: white;
    color: #0EB57D;
    transition: ease 0.8s;
    border: 1px solid #0EB57D;
}
.download-hint{
    position: absolute;
    padding: 10px;
    background-color: #0eb57d;
    border-radius: 30px;
    color: white;
    left: -19%;
    transform: scale(0);
}
.portfolio-download a:hover ~ .download-hint{
    transform: scale(1);
    transition: 0.5s
}
.my-photo h1{
    color: #0EB57D;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Dosis', 'Open Sans', sans-serif ;
}
.about-me{
    width: 60%;
    margin-bottom: 50px;
    margin-top: 50px;
}
.about-me h2{
    font-size: 24px;
    font-weight: bold;
}
.about-me p{
    margin-right: 50px;
    line-height: 1.8;
}
.about-me-line{
    width: 70px;
    height: 3px;
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #0EB57D;
}
.my-info{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}
.my-info li{
    margin-top: 20px;
}
.my-info-bold{
    font-weight: bold;
    width: 80px;
}
.my-social{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0EB57D;
}
.my-social i{
    position: relative;
    z-index: 2;
}
.social-link {
    font-size: 25px;
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: relative;
    color: white;
    transition: .3s;
    cursor: pointer;
    margin: 20px 20px;
}
.social-link:hover {
    color: #0eb57d;
}
.social-link .social-hover {
    color: #0eb57d;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: absolute;
    background-color: white;
    display: block;
    left: -10px;
    transform: scale(0);
    transition: .3s;
    opacity: 0;
    top: -10px;
    z-index: 1;
}
.social-link:hover .social-hover{
    transform: scale(1);
    opacity: 1;
}
.container{
    margin: 0 auto;
    max-width: 1600px;
    width: 70%;
}
.section-title{
    margin-top: 100px;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
}
.service-wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 40px;
}
.wrapper{
    padding: 40px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32%;
    margin: 10px 0;
    box-sizing: border-box;
    min-width: 200px;
    position: relative;
    box-shadow: 1px 1px 6px 1px #00000059;
}
.wrapper-first {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    vertical-align: middle;
    max-width: 240px;
    height: 150px;
    width: 100%;
    background-color: #ffffff;
    z-index: 2;
    box-sizing: border-box;
}
.wrapper-second{
    text-align: center;
    font-weight: 400;
    width: 100%;
    top: 0;
    padding: 40px;
    box-sizing: border-box;
    font-size: 15px;
    left: 0;
    opacity: 0;
    z-index: 3;
    height: 100%;
    background-color: white;
    line-height: 1.5;
    position: absolute;
    transition: opacity .5s;
}
.wrapper-second:hover{
    opacity: 1;
}
.wrapper-second p{
    transform: scale(.3);
    transition: transform .5s;
}
.wrapper-second:hover p{
    transform: scale(1);
}
.wrapper-first:hover{
    opacity: 0.5;
}
.wrapper i{
    color: #0EB57D;
    font-size: 40px;
}
.wrapper h3{
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.5;
}
.wrapper hr{
    height: 3px;
    background-color: #0EB57D;
    width: 20%;
}
.skill-wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 40px;
    padding: 50px 40px;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 1px 1px 6px 1px #00000059;
}
.skill{
    width: 48%;
    display: flex;
    min-width: 200px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.progress{
    height: 5px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #e6e6e6;
    position: relative;
    border-radius: 30px;
}
.progress span{
    background-color: #0EB57D;
    height: 100%;
    position: absolute;
    overflow: hidden;
    z-index: 2;
    border-radius: 30px;
}
.education-timeline {
    position: relative;
    max-width: 1600px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}
.education-timeline::after {
    content: '';
    position: absolute;
    width: 4px;
    background-color: white;
    top: 15px;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}
.timeline {
    position: relative;
    background-color: inherit;
    width: 50%;
    box-sizing: border-box;
}
.timeline::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    right: -7px;
    background-color: #0EB57D;
    top: 25px;
    border-radius: 50%;
    z-index: 1;
}
.left {
    left: 0;
    padding: 10px 40px 10px 0;

}
.right {
    top: 30px;
    padding: 10px 0 10px 40px;
}
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}
.right::after {
    left: -9px;
}
.education {
    padding: 30px 30px;
    background-color: white;
    position: relative;
    box-shadow: 1px 1px 6px 1px #00000059;
}
.education p{
    margin-bottom: 20px;
}
.education h3{
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #333333;
}
.education div{
    background-color: #0EB57D;
    padding: 5px 10px;
    max-width: 80px;
    color: white;
    position: relative;
}
.education div::before {
    content: " ";
    height: 0;
    position: absolute;
    top: -10px;
    width: 0;
    z-index: 1;
    left: 90px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent #0EB57D transparent;
}
.portfolio-content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    position: relative;

}
.portfolio-item{
    position: relative;
    overflow: hidden;
    box-shadow: 1px 1px 6px 1px #00000059;
}
.portfolio-item.active  .btn-portfolio{
    opacity: 1;
}
.portfolio-item.active  .btn-portfolio:hover{
    color: #0EB57D;
    background-color: white;
    border: 1px solid #0EB57D;
    transition: 2s;
}
.portfolio-item img{
    max-width: 280px;
    align-items: center;
    position: relative;
    transition: transform .5s;

}
.portfolio-item.active img{
    transform: scale(1.2);

}
.btn-portfolio{
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    position: absolute;
    width: 40px;
    transition: opacity .5s;
    height: 40px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border-radius: 100%;
    background-color: #0EB57D;
    cursor: pointer;
    opacity: 0;
}
.btn-portfolio:hover{
    color: #0EB57D;
    background-color: white;
    border: 1px solid #0EB57D;
    transition: 2s;
}
.portfolio-show{
    display: none;
    position: fixed;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.portfolio-shadow{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.7;
    z-index: -1;
}
.portfolio-show img{
    width: 70%;
    height: auto;
    z-index: 102;
}
.contact-content{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    padding: 40px;
}
.contact-bg{
    background: url("../img/stock-photo-html-and-css-abstract-concept-blue-text-blue-background-528261517.png") center no-repeat;
    margin-top: 40px;
    background-size: cover;
}
.contact-form{
    background-color: white;
    width: 60%;
    max-width: 700px;
    opacity: 0.9;
    box-shadow: 1px 1px 6px 1px #00000059;
}
.form{
    display: flex;
    flex-direction: column;
    padding: 40px;
}
.form-input{
    padding: 10px;
    border: none;
    height: 38px;
    border-bottom: 2px solid #e6e6e6;
}
textarea.form-input{
    height: 100px;
    resize : none;
}
.contact-btn{
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    letter-spacing: 2px;
    background-color: #0EB57D;
    max-width: 200px;
    border: none;
    cursor: pointer;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.30);
}
.contact-btn:hover{
    background-color: white;
    color: #0EB57D;
    transition: ease 0.8s;
}
.contact-form-success-alert{
    top: 80px;
    right: 20px;
    padding: 20px;
    z-index: 9;
    position: fixed;
    display: none;
    align-items: center;
    background-color: #0eb57d;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.30);
}
.contact-form-success-alert {
    text-align: center;
    color: white;
}
.contact-form-success-alert  h1{
    font-size: 25px;
    margin-bottom: 10px;
}
.contact-form-success-alert  h3{
    font-size: 14px;
}
.fa-check-circle{
    font-size: 45px;
    margin-bottom: 15px;
}
.footer{
    width: 100%;
    text-align: center;
    background-color: #0EB57D;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer h3{
    padding: 50px;
    color: white;
    letter-spacing: 2px;

}
.footer i{
    position: absolute;
    top: -30px;
    width: 60px;
    height: 60px;
    color: white;
    display: flex;
    font-size: 30px;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
    background-color: #0EB57D;
    justify-content: center;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.10), 0 1px 6px rgba(0, 0, 0, 0.20);
}
.footer i:hover {
    background-color: white;
    color: #0EB57D;
    transition: ease 0.8s;
    border: 1px solid #0EB57D;
}
@media (min-width: 1800px) {
    .portfolio-item img {
        max-width: 404px;
    }
}
@media (min-width: 1500px) {
    .portfolio-item img{
        max-width: 350px;
    }
}
@media (max-width: 1200px) {
    .portfolio-content{
        justify-content: space-around;
    }
    .portfolio-item{
        margin-bottom: 20px;
    }
}
@media (max-width: 900px) {
    .section-content{
        width: 90%;
    }
    .container{
        width: 90%;
    }
}
@media (max-width: 700px) {
    .section-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .my-photo{
        width: 100%;
        margin: 25px 0;
    }
    .about-me{
        text-align: center;
        margin: 0;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .about-me p{
        margin: 0;
    }
    .my-info{
        text-align: left;
        margin-bottom: 25px;
    }
    .section-title{
        margin-top: 50px;
        margin-bottom: 0;
    }
    .skill-wrapper{
        margin-top: 30px;
    }
    .education-timeline{
        margin-top: 30px;
    }
    .portfolio-content{
        margin-top: 30px;
    }
    .service-wrapper{
        margin-top: 30px;
        justify-content: space-around;
    }
    .wrapper{
        width: 90%;
    }
    .education-timeline{
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .education-timeline::after{
        display: none;
    }
    .left {
        left: 0;
        padding: 0;
    }
    .right {
        top: 0px;
        padding: 0;
    }
    .timeline {
        width: 100%;
        margin-bottom: 20px;
    }
    .timeline::after{
        display: none;
    }
    .right::before{
        display: none;
    }
    .contact-bg{
        margin-top: 0;
    }
    .contact-content{
        padding: 20px;
    }
    .contact-form{
        width: 100%;
    }
    .form{
        padding: 10px;
    }
    .form-input{
        height: 28px;
    }
    .contact-text{
        margin-bottom: 20px;
        margin-top: -20px;
    }
}
@media (max-width: 550px) {
    .skill{
        width: 100%;
    }
}